<%# NAVBAR START %>
<%
=begin
<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to "Movie Lists", lists_path, class: "navbar-brand"%>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <%= link_to 'Home', lists_path, class: "nav-link active"%>
  </div>
</div>
</div>
</nav>
<%# NAVBAR END %>
<div class="container form">
  <h1>Add a new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
=end
%>
