<h1><%= @list.name %></h1>

<%= link_to 'Back to lists', lists_path, class: "btn btn-primary"%>
<%= link_to 'Add a new bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %>


<% if @list.movies.any? %>
  <% @list.bookmarks.each do |bookmark| %>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=<%= bookmark.movie.poster_url %> alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= bookmark.movie.title %></h5>
        <p class="card-text"><%= bookmark.movie.overview %></p>
        <%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger"%>
      </div>
    </div>
    <h3></h3>
    <p><%= bookmark.movie.rating %>/10</p>
    <p></p>
    <h5>Comments</h5>
    <p><%= bookmark.comment %></p>
  <% end %>
<% else %>
  <p>You don't have any movies bookmarked yet!</p>
<% end %>
