<div class="page position-relative">
  <%# NAVBAR START %>
  <nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid">
      <%= link_to '', lists_path, class: "navbar-brand fa-solid fa-clapperboard fa-2xl" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to @list.name + " Top", list_path, class: "nav-link active"%>
        </div>
      </div>
    </div>
  </nav>
  <%# NAVBAR END %>
  <div class="main">
    <div class="container show-container">
      <div style="width: fit-content">
        <div class="show-container-category-title">
          <h1><%= @list.name %></h1>
        </div>
        <% if @list.movies.any? %>
          <%# CREATE MOVIE CARDS START %>
          <% @list.bookmarks.each do |bookmark| %>
            <div class="card-product-with-comments">
              <div class="card-product row">
                <div class="col-sm-2">
                  <img src=<%= bookmark.movie.poster_url %> />
                </div>
                <div class="col-sm-10">
                  <div class="card-product-infos">
                    <div class="card-product-info-text">
                      <div class="card-product-title-line">
                        <h2><%= bookmark.movie.title %></h2>
                        <p class="rating">★ <%= bookmark.movie.rating %></p>
                      </div>
                      <p><%= bookmark.movie.overview %></p>
                    </div>
                    <%= link_to '', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn delete fa-solid fa-trash"%>
                  </div>
                </div>
              </div>
              <div class="card-product-comments-section">
                <h5>Comments</h5>
                <p class="verticalLine"><em>—"<%= bookmark.comment %>"</em></p>
              </div>
            </div>
          <% end %>
          <%# CREATE MOVIE CARDS END %>
        <% else %>
          <p>No movies bookmarked yet!</p>
        <% end %>
      </div>
      <%# ADD FORM %>
      <div class="container form">
        <h1>Add bookmark</h1>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
    <%# FORM END %>
  </div>
</div>
